<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title><%= title %></title>

</head>

<body>
<div><h1><%=title%>-Tell Me About YourSelf</h1></div>

<form action="/api/applicants" method="post" role="form">

    <div><label style="color: #00B7FF"> First Name</label>
        <input type="text" name="FirstName" class="form-control"   placeholder="First Name">
        <label style="margin-left: 80px">Last Name</label>
        <input type="text" name="LastName" class="form-control" placeholder="Last Name">
        <label style="margin-left:100px " > Date OF Birth </label>
        <input type="date" placeholder="Date of Birth" name="DateOfBirth"  >

    </div><br>

    <div>
        <label>Emailid</label>
        <input type="text" name="emailid">
    </div><br>

    <div><label style ="margin-left: auto" >Address</label>
    <input type="text" name="Street" class="form-control" placeholder="Street" >
        <label style="margin-left: 100px">City</label>
        <input type="text" placeholder="City" class="form-control" name="City">
        <label style="margin-left: 150px">Country</label>
        <input type="text" placeholder="Country" name="Country">
    </div>
</br>
    <div id="school">

        <label>Education</label><br>
        <br>
        <label>School/College</label>
        <input type="text" name="School" class="form-control" placeholder="School">

        <label style="margin-left: 80px">Major</label>
        <input type="text" name="Major" class="form-control" placeholder="Major">

         <label style="margin-left: 120px">GPA</label><input type="text" name="GPA" class="form-control" placeholder="GPA" ><br>

      <br>

        <label style="margin-left: 0px"> Location</label>
        <select name="Location">
            <option value="Michigan">Michigan</option> <option value=" Michigna">Texas</option><option value="California">California</option>
        </select>
        <label style="margin-left: 200px">Graduated</label>
        <select name="Graduated">
            <option name="Yes">Yes</option>
            <option name="No">No</option>
        </select><br>
    </div>
<br>
<div>
    <label >Roles Interested</label>
    <input type="text" placeholder="Roles Interested" name="RolesInterested">
</div><br>

        <br><div>
            <label>Experiennce</label>
            <br>
            <label>Company Name</label>
            <input type="text" placeholder="Company Name" name="CompanyName">
            <label>Role</label>
            <input type="text" name="Role" placeholder="Role">
            <label>Duration</label>
            <label>From</label>
            <input type="DATE" name="From" placeholder="From">
            <label>TO</label>
            <input type="DATE" name="To" placeholder="To"><br>
            <br>
            <label>Description</label><br>

           <textarea style="margin-left: 80px ;width: 400px; height: 100px" name="Description"></textarea>
        </div>
<br>
        <div>
            <label>Skills</label>
            <input type="text" name="Skills" placeholder="List Your Skiklls">
            <label>Sponsorship</label>
            <select name="SponsorShip">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>

        </div><br>
        <br><input type="submit" name="Submit" value="Register">

</form>

</body>

<script type="text/javascript">
    function addnewschool() {
            var i = document.getElementById( 'school' );
            var d = document.createElement( 'addschool' );
            d.innerHTML = i.innerHTML ;
            var p = document.getElementById('addschool');
            p.appendChild(d);
    }

</script>
</html>