<!DOCTYPE html>
<>
<head>
    <meta charset="utf-8" name ="viewport" content="width = device-width, initial-scale = 1.0" />
    <title>Login</title>
    <!-- <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" /> -->

    <style type="text/css">
        body {
            padding-top: 10px;
        }

        .form-container {
            width: 400px;
            margin: auto;
        }

        .credits {
            border-top: 8px solid #ddd;
            margin-top: 40px;
            padding-top: 20px;
        }
    </style>

    <header style="background-color: #00B7FF" >
            <input style="height:30px; padding-right:10px; width:60px;margin-left: 600px" type='button' value='Home' onclick="window.location.href='/'"   >
            <input  style="height:30px; width:80px;margin-left: 40px" type="button" value="Applicant" onclick="window.location.href='/login'">
            <input style="height: 30px;width:60px;margin-left: 40px" type="button" value="Poster"  onclick="window.location.href='/login'">
             <input style="height: 30px;width:140px;margin-left: 40px" type="button" value="Share Knowledge" onclick="window.location.href='/questionsview'">
        </header>

</head>

<script src = "/javascript/jquery-3.1.1.js"></script>
<body>
