<%- include('F:/somu/project/app/views/layout.ejs') %>


<div>

    <label>First Round ask these questions</label>

  <% var i ;
  for(i=0;i< title.length;i++){
  %>
 <p> <%=title[i].Question%></p>
<%
}
%>


</div>
